body {
  margin: 0;

}


.navbar {
  height: 100px;
  background-color: rgb(55, 0, 255);
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  font-size: larger;
  font-style: italic;
  text-align: center;
  background-color: turquoise;
}

.note {
  font-size: medium;
  font-style: oblique;
  background-color: violet;
  text-align: right;

} 